In [1]:
import pandas as pd
import os
import requests
import json
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("../Resources/La_Liga/spain_city.csv")
df.head()
#weather_df["Date"] = weather_df["Date"].astype('datetime64[D]')
#weather_df["Date"] = weather_df["Date"].dt.strftime("20%y/%d/%m")
df
# Date string format
def Format_Date(df):
    # df is series with the key “Date”
    # expressed as month/day/year
    df2 = df.copy()
    one_digit = [str(i) for i in range(10)]
    for i, val in df.items():
        dates = val.split("/")
        if dates[0] in one_digit:
            dates[0] = "0"+dates[0]
        if dates[1] in one_digit:
            dates[1] = "0"+dates[1]
        if dates[2] == "19" or dates[2] == "20":
            dates[2] = "20"+dates[2]
        df2.loc[i] = dates[2]+"-"+dates[1]+"-"+dates[0]
    return df2
df["Date"] = Format_Date(df["Date"])
weather_df = df
weather_df.head()

,Div,Date,Time,HomeTeam,AwayTeam,HomeScore,AwayScore,Result,HomeTeam ID,AwayTeam ID,City,Unnamed: 11
0,SP1,2019-08-16,20:00,Ath Bilbao,Barcelona,1,0,H,LIG1,LIG3,Bilbao,NaN
1,SP1,2019-08-17,16:00,Celta,Real Madrid,1,3,A,LIG5,LIG14,Vigo,NaN
2,SP1,2019-08-17,18:00,Valencia,Sociedad,1,1,D,LIG17,LIG16,Valencia,NaN
3,SP1,2019-08-17,19:00,Mallorca,Eibar,2,1,H,LIG12,LIG6,Palma,NaN
4,SP1,2019-08-17,20:00,Leganes,Osasuna,0,1,A,LIG10,LIG13,Leganes,NaN

In [3]:
cities = []
cities = weather_df["City"]
lat = []
lng = []

In [4]:
query = "https://maps.googleapis.com/maps/api/geocode/json"
from config import gkey
# Exception Handling
#address = str(lat) + "," + str(lng)
for row in cities:
        try:
                params = {"address": str(row)+","+"Spain", "key": gkey}
                response = requests.get(query,params=params).json()
                lat.append(response["results"][0]["geometry"]["location"]["lat"])
                lng.append(response["results"][0]["geometry"]["location"]["lng"])
               
                # Increase Processing Record Counter by 1 For Each Loop

        except: 
                print("Oops")

In [5]:
weather_df["Latitude"] = lat
weather_df["Longitude"] = lng 
weather_df

,Div,Date,Time,HomeTeam,AwayTeam,HomeScore,AwayScore,Result,HomeTeam ID,AwayTeam ID,City,Unnamed: 11,Latitude,Longitude
0,SP1,2019-08-16,20:00,Ath Bilbao,Barcelona,1,0,H,LIG1,LIG3,Bilbao,NaN,43.263013,-2.934985
1,SP1,2019-08-17,16:00,Celta,Real Madrid,1,3,A,LIG5,LIG14,Vigo,NaN,42.240599,-8.720727
2,SP1,2019-08-17,18:00,Valencia,Sociedad,1,1,D,LIG17,LIG16,Valencia,NaN,39.469907,-0.376288
3,SP1,2019-08-17,19:00,Mallorca,Eibar,2,1,H,LIG12,LIG6,Palma,NaN,39.569600,2.650160
4,SP1,2019-08-17,20:00,Leganes,Osasuna,0,1,A,LIG10,LIG13,Leganes,NaN,40.331951,-3.768654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,SP1,2020-07-12,18:30,Leganes,Valencia,1,0,H,LIG10,LIG17,Leganes,NaN,40.331951,-3.768654
356,SP1,2020-07-12,21:00,Sevilla,Mallorca,2,0,H,LIG15,LIG12,Seville,NaN,37.389092,-5.984459
357,SP1,2020-07-13,18:30,Alaves,Getafe,0,0,D,LIG0,LIG8,Vitoria-Gasteiz,NaN,42.850237,-2.672871
358,SP1,2020-07-13,18:30,Villarreal,Sociedad,1,2,A,LIG19,LIG16,Villarreal,NaN,39.939771,-0.100593
359,SP1,2020-07-13,21:00,Granada,Real Madrid,1,2,A,LIG9,LIG14,Granada,NaN,37.177336,-3.598557

In [7]:
url = "http://api.worldweatheronline.com/premium/v1/past-weather.ashx"
from config import weather_key3
key = weather_key3
averagetemp = []
formatver = "json"
for index,row in weather_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    date = row["Date"]
    q = str(lat) + "," + str(lng)
    #try:
    params = {"q": q,"format": formatver,"key" : key,"date": date}
    response = requests.get(url,params=params).json()
    averagetemp.append(response["data"]["weather"][0]["avgtempF"])
  #  except: 
   #             print("Oops")

In [ ]:
print(averagetemp)

In [8]:
weather_df["Avg Temp (in F)"] = averagetemp
weather_df

,Div,Date,Time,HomeTeam,AwayTeam,HomeScore,AwayScore,Result,HomeTeam ID,AwayTeam ID,City,Unnamed: 11,Latitude,Longitude,Avg Temp (in F)
0,SP1,2019-08-16,20:00,Ath Bilbao,Barcelona,1,0,H,LIG1,LIG3,Bilbao,NaN,43.263013,-2.934985,73
1,SP1,2019-08-17,16:00,Celta,Real Madrid,1,3,A,LIG5,LIG14,Vigo,NaN,42.240599,-8.720727,69
2,SP1,2019-08-17,18:00,Valencia,Sociedad,1,1,D,LIG17,LIG16,Valencia,NaN,39.469907,-0.376288,84
3,SP1,2019-08-17,19:00,Mallorca,Eibar,2,1,H,LIG12,LIG6,Palma,NaN,39.569600,2.650160,84
4,SP1,2019-08-17,20:00,Leganes,Osasuna,0,1,A,LIG10,LIG13,Leganes,NaN,40.331951,-3.768654,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,SP1,2020-07-12,18:30,Leganes,Valencia,1,0,H,LIG10,LIG17,Leganes,NaN,40.331951,-3.768654,84
356,SP1,2020-07-12,21:00,Sevilla,Mallorca,2,0,H,LIG15,LIG12,Seville,NaN,37.389092,-5.984459,93
357,SP1,2020-07-13,18:30,Alaves,Getafe,0,0,D,LIG0,LIG8,Vitoria-Gasteiz,NaN,42.850237,-2.672871,68
358,SP1,2020-07-13,18:30,Villarreal,Sociedad,1,2,A,LIG19,LIG16,Villarreal,NaN,39.939771,-0.100593,80
359,SP1,2020-07-13,21:00,Granada,Real Madrid,1,2,A,LIG9,LIG14,Granada,NaN,37.177336,-3.598557,82

In [9]:
weather_df.to_csv("../final-resources/la_liga_scores_weather.csv")